body {
    background-color: #020515;
    color: blue;
    font-family: sans-serif;
}

section {
    margin: 0 auto;
    width: fit-content;
}

h1 {
    text-align: center;
}

#main-canvas {
    background-color: #000;
}
